<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sulitous.mtc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.Splash"/>
        <activity
            android:name=".AddChildActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".UnderTreatmentActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>